<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SpringMVC</title>
</head>
<body>
<center>
    <h1>Hello SpringMVC</h1>
</center>
<hr/>
<center>
    <a th:href="@{/origin}">origin Servlet API store object</a><br/>
    <a th:href="@{/springmvc}">springMVC ModelAndView store object</a><br/>
    <a th:href="@{/model}">springMVC Model store object</a><br/>
    <a th:href="@{/map}">springMVC Map store object</a><br/>
    <a th:href="@{/modelMap}">springMVC ModelMap store object</a><br/>
    <a th:href="@{/session}">Session store object</a><br/>
    <a th:href="@{/application}">Servlet Context store object</a><br/>
</center>
</body>
</html>